# Java / Maven
target/
*.log
*.class
*.jar

# Node / React
music-frontend/node_modules/
music-frontend/dist/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Docker volumes (optionnel si en local uniquement)
postgres_data/
